 QMessageBox {
    margin: 0;
    padding: 0;
    background-color: rgb(100,100,100);
    color: white;
}

/*QPushButton {
    margin: 0;
    padding:0;
    border: 1px solid;
    border-color: rgb(60,60,60);
    background-color: rgb(100,100,100);
}

QPushButton:hover {
    background-color: rgb(135,135,135);
}*/
