* {
    background-color: rgb(51,03,129);
    color: white;
}

QPushButton {
    margin:0;
    padding:0;
    border: 1px solid white;
    background-color: rgb(21,73,99);
}
QPushButton:hover {
    background-color: rgb(36,88,114);
}
QMenu{
    border: .5px solid white;
}
QMenuBar{
    border: 1px solid white;
    background-color: rgb(21,83,109);
}
QMenuBar::item::selected, QMenu::item::selected{
    background-color: rgb(21,83,109);
}

